@import url(./reset.css);
table{
  margin: 20px auto;
  font-size: 20px;
  table-layout: fixed;
  width: 500px;
}
thead{
  background-color: bisque;
}
tfoot, tfoot>tr{
  background-color: darksalmon;
}
caption{
  font-size: 30px;
  color: red;
}
caption::after{
  content: "#05";
  color: blueviolet
}
table, thead, tbody, tfoot{
  border: 4px solid red;
}
tr, th, td {
  border: 2px solid blue;
}
tbody td:first-child{
  background-color: aqua;
}
thead th:first-child{
  width: 50px;
}
thead :not(th:first-child){
  width: 150px;
}
tbody,tfoot > tr{
  text-align: center;
}
tbody > tr:nth-child(odd){
  background-color: darkkhaki;
}
tbody > tr:nth-child(even){
  background-color: lightgrey;
}
a{
  display: block;
  width: 150px;
}
button{
  display: block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 150px; */
}
/* tfoot>tr{
  display: flex;
  justify-content: space-around;
  width: 500px;
  border: none;
  margin: 0;
}
tfoot td{
  display: block;
  width: 250px;
  margin: 0 5px;
}
tfoot{
  display: inline-block;
  border: none;
  width: 500px;
} */