@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato/Lato-Black.ttf);
}
/* General */
* {
	box-sizing: border-box;
}
:root {
	font-size: 20px;
	font-family: Lato ;
}

/* ======================= */
/* Focus style */
label + input:focus {
	background-color: antiquewhite;
}
/* ======================= */
/* Common styles */

input[type='text'],
input[type='email'],
input[type='datetime-local'] {
	min-width: 50%;
}
legend {
	font-size: 25px;
	text-align: center;
}
select {
	min-width: 50%;
}
select > option {
	font-size: 20px;
}
textarea {
	min-width: 50%;
}
button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	font-size: 25px;
}
textarea:focus,
select:focus {
	background-color: antiquewhite;
}

/* ======================= */
/* Flexbox styles */
 #container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
fieldset {
	min-width: 25%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.input-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.textarea-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.check-container {
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.radio-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}
.btn-container {
	min-width: 200px;
	max-width: 300px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
} 
/* ======================= */
/* For input range gorizontal*/
datalist {
	display: flex;
	justify-content: space-between;
	width: 200px;
}
option {
	padding: 0;
}
input[type='range'] {
	width: 200px;
	margin: 0;
}
/* ======================= */

/* For vertical input range */
/* #range{
  display: flex;
  align-items: stretch;
  margin-top: 10px;
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: sideways-lr;
  margin-left: -80px;
}
option {
  padding: 0;
}
#range>label{
  padding-top: 70px;
  margin-right: -80px;
}
input[type="range"] {
  width: 200px;
  margin: 0;
  appearance: slider-vertical;
  border: 1px solid;
} */
