*{
  margin: 0 auto;
}
section{
  border: 2px solid red;
  width: 80%;
}
.l3{
  border: 3px solid brown;
}
h1, h2{
  text-align: center;
  font-size: 50px;
  text-shadow: -5px -3px 5px blue;
}
h2::first-letter{
  font-size: 50px;
  color: red;
  
}
#first-p::first-line{
  font-size: 30px;
  color: blue;
}
 p::selection{
  background-color: aquamarine;
}
#ford h2::before{
  content: "\260a";
}
p{
  /* font-style: italic; */
  font-weight: 800;
  color: green;
  text-indent: 3em;
  /* letter-spacing: 1.5em;
  line-height: 1.8em; */
  /* text-decoration: underline overline red; */
}
header,nav, ul, li{
  margin: auto;
  width: 90%;
}
ul{
  border: 2px solid;
  list-style: none;
}
nav>ul>li{
  text-align: center;
  display: inline;
  margin: 0 60px;
}
footer>div, address{
  display: inline-block;
  margin: 0 100px;
}
