@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,300&family=Roboto+Condensed:wght@300&display=swap');

* {
	margin: 0 auto;
  scroll-behavior: smooth;
}
:root {
	font-size: 20px;
}
address{
  font-size: 30px;
  font-weight: 600;
}
article{
  min-width: 25%;
  margin: 10px;
}
/* h1{
  position: sticky;
  top: 50px;
}
#h1{
  height: 300px;
  border: 2px solid red;
} */
h1,
h2,
h3 {
	text-align: center;
}
h2::first-letter {
	/* font-size: 50px; */
	color: red;
}
p {
	text-indent: 3em;
	font-family: 'Montserrat', sans-serif;
}
p::selection {
	background-color: aquamarine;
}
article>p::first-line {
	/* font-size: 30px; */
	color: blue;
}
header{
  min-width: 100%;
  min-height: 100px;
  border: 2px solid;
  background-color: aquamarine;
  position: fixed;
  top: 0;
}
nav{
  margin-top: 30px;
}
main{
  margin-top: 120px;
}
ul,
li {
	margin: auto;
	/* width: 90%; */
} 

nav > ul > li {
	text-align: center;
}
ul {
	list-style: none;
}
footer{
  display: flex;
  width: 100%;
  border: 1px solid;
  height: 150px;
  background-color: teal;
  color: white;
  font-size: 1.5em;
}
table {
  margin: 20px auto;
  min-width: 60%;
  table-layout: fixed;
  text-align: center;
  border: 5px solid red;
  font-size: 25px;
  font-weight: 600;
}
th, td {
  border: 2px solid blue;
}
section {
	/* border: 2px solid red; */
	width: 90%;
  margin: 50px auto;
}
.article-container{
  display: flex;
}
.img-container{
  text-align: center;
}
.list-container{
  margin: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.return{
  text-align: center;
}


/* #car-details{
  margin: 20px auto;
} */
#ford h2::before {
	content: '\260a';
}

/* .animation {
	animation-name: slide;
	animation-duration: 2s;
	animation-iteration-count: 4;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-direction: alternate-reverse;
	animation-fill-mode: none;
}  */

@keyframes slide {
	from {
		margin-left: 100%;
		color: red;
    font-size: 30px;
	}
	50% {
		margin-left: 0%;
		/* color: magenta;
		font-size: 70px;
		transform: rotate(180deg); */
	}
	to {
		margin-left: -100%;
		color: blue;
		font-size: 25px;
	}
}



