* {
	box-sizing: border-box;
}
:root{
	font-size: 25px;
	--col-numbers: 6;
}
.width1 {
	border: 2px dashed blue;
	width: 350px;
}
.width2 {
	border: 3px solid red;
	width: 40vmax;
}
.width3 {
	border: 3px solid green;
	width: 40%;
}
div {
	margin-top: 10px;
}

.l1,
.l2,
.l3 {
	border: 3px solid green;
	margin: 10px;
	padding: 10px;
	font-size: 0.8rem;
	
}
.l1{
  border: 3px solid magenta;
	--main-bg-color: teal;
}
.l3{
  background-color: var(--main-bg-color);
}
.bl1, .bl2, .bl3{
	/* font-size: 0; */
	width: calc(100%/max(3,4,5));
	border: 2px solid red;
	padding: 50px 50px 30px 40px;
	/* margin: 50px; */
	display: inline-block;
}
.bl1{
	margin-bottom: 100px;
	background-color: rgb(0, 128, 128, .5);
}
.wrapper{
	border: 5px solid green;
	width: 900px;
	/* background-color: var(--main-bg-color); */
}
.wrapper>div:nth-child(3n+1){
	background-color: var(--main-bg-color);
}
.in-wrapper{
	border: 2px solid rgb(0, 128, 128);
	font-size: 0;
}
span{
	border: 1px solid magenta;
}
/* 
[class|=in]{
  background-color: blueviolet;
}
div p{
  background-color: aqua;
}
p + section {
  color:burlywood
} */
